NOTION_TOKEN=secret_...
NOTION_CLIENTS_DB_ID=1bcd400b-2a17-81b9-80a1-e77e3c79d405
NOTION_PROJECTS_DB_ID=81db53e1-e883-4395-a857-301ef7266f14
NOTION_TASKS_DB_ID=796fec9c-fef6-4098-8583-4ccfab732339
KIMAI_BASE_URL=https://your-kimai-instance.com
KIMAI_API_TOKEN=
